@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Victor+Mono:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,700&family=Rubik:wght@300;500&family=Victor+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#container {
  background-color: #07083b;
}

/* ----------Start For Phone Screen and Others */
/* NavBar Start */
/*#main {
  color: rgb(233, 238, 247);
  background:rgb(6, 52, 153); 
  background: linear-gradient(rgba(0, 0, 0, 0.4), hsl(180, 1%, 23%));
}

.container .navbar-brand img {
  width: 180px;
}

.icons {
  margin-right: 0;
}

.icons a {
  padding: 0 5px;
  font-size: 20px;
}
.menuitems {
  color: white;
}
.menuitems:hover {
  color: #1aaee8 !important;
}*/
/* NavBar End */

/* Sidenav Link Start */
.sidenav {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 30px;
  /* text-align:center; */
}

.sidenav h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #fff;
  padding: 5px;
}

.sidenav ul {
  display: inline;
  text-align: center;
}

.sidenav ul li {
  width: 100%;
  margin-right: 20px;
  font-size: 18px;
}

.sidenav li {
  list-style-type: none;
  padding: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  border-top: 2px solid rgba(225, 225, 225, 0.05);
}
.sidenav ul li:hover {
  background: #2c7cb0;
}
.sidenav ul li:hover a {
  background: #2c7cb0;
  color: #000;
  font-weight: 500;

  text-transform: uppercase;
}
.sidenav ul li:visited {
  background-color: aquamarine;
}
.sidenav a {
  text-decoration: none;
  text-align: center;
  color: #bdb8d7;
  display: block;
  margin: 0;
}

/* Sidenav Link End */

/* Main Content Start */
.heading {
  height: 50px;
  background-color: #04214d;
  color: #fff;
  font-size: 6vh;
  opacity: 0.6;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

#equ {
  margin-top: 0;
}

#title {
  font-size: 27px;
  text-align: center;
}

.pic {
  text-align: center;
  margin: 0;
  justify-content: center;
}
.pic img {
  width: 50%;
  /* height:auto; */
}
.info {
  justify-content: center;
  align-items: center;
  color: white;
  word-spacing: 1px;
  text-align: justify;

  padding: 20px;
  line-height: 1.8rem;
  margin-top: 25px;
}
.info h2 {
  text-align: center;
  font-size: 2rem;
}
.info p {
  font-size: 22px;
}

/* ----------   Start For Desktop   --------------------------------------------------------- */

@media only screen and (min-width: 768px) {
  /* NavBar Start */
  /*#main {
    color: rgb(233, 238, 247);
    background: linear-gradient(rgba(0, 0, 0, 0.3), hsl(203, 100%, 13%, 1));
  }
  .container .navbar-brand img {
    width: 200px;
  }

  .navbar-nav a {
    color: white;
  }

  .icons {
    margin-right: 30px;
  }

  .icons a {
    padding: 0 10px;
    font-size: 20px;
  }

  .menuitems {
    color: white;
  }

  .navbar-nav a:hover {
    color: #1aaee8;
  }

  .menuitems:hover {
    color: #1aaee8;
  }*/
  /* NavBar End */

  /* Sidenav Link Start */
  .sidenav {
    margin-top: 0.5rem;
    padding: 0 0 0 10px;
    position: fixed;
    width: 15%;
  }
  .sidenav ul li {
    width: 100%;
    margin-right: 20px;
  }

  .sidenav li {
    list-style-type: none;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-top: 2px solid rgba(225, 225, 225, 0.05);
  }
  .sidenav ul li:hover {
    background: #2c7cb0;
  }
  .sidenav ul li:hover a {
    background: #2c7cb0;
    color: #000;
    font-weight: 500;

    text-transform: uppercase;
  }
  .sidenav ul li:visited {
    background-color: aquamarine;
  }
  .sidenav a {
    text-decoration: none;
    text-align: center;
    color: #bdb8d7;
    display: block;
    margin: 0;
  }
  .sidenav h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px;
  }

  /* Sidenav Link End */

  /* Main Content Start */
  .main-content .heading {
    background-color: #04214d;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    opacity: 0.6;
    margin-bottom: 2rem;
    margin-top: 20px;
    /* font-size:30px; */
  }
  #title {
    font-size: 30px;
    margin: 2rem;
  }
  .pic {
    text-align: center;
    margin: 10px 0;
  }
  .pic img {
    width: 70%;
    /* height:auto; */
  }
  .info {
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: 2px;
    text-align: justify;
    margin-right: 3rem;
    line-height: 2rem;
    margin-top: 0;
  }
  .info p {
    font-size: 25px;
    margin-top: 15px;
  }
  .info h2 {
    text-align: center;
  }

  /* Main Content End */
}
/* ---------------End For Desktop ----------------------------------------------------------- */

@media only screen and (min-height: 1000px) {
  .main-content {
    display: inline-block;
  }
  .info {
    justify-content: center;
    align-items: center;
    color: white;
    word-spacing: 0;
    /* text-align: justify; */
    margin-right: 0;
    line-height: 1.8rem;
    margin-top: 25px;
  }
}
h1 {
  font-family: "Libre Baskerville", serif;
}
p {
  font-family: "Cardo", serif;
}
