@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Home Section Start */
#container{
    background: url(../images/pileback\ .jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: inset 20px 20px 20px rgb(103, 39, 116);
    padding: 50px;
}
#container .row .check{
    color: white;
}
#container .row .check h1{
    font-size: 1.8em;
    font-family: 'Libre Baskerville', serif;
}
#container .row .check p{
    font-size: 1.2em;
    color:white;
    
    margin-top: 30px;
    font-family: 'Cardo', serif;
}
#container .row .text-center img{
    display:none;
}
/* Home Section End */

/* PickInfo Start */

.pickinfo{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 20px 25px;
    
    background-color: black;
}

.pickinfo h3{
    color: white;
    font-family: 'Cardo', serif;
}
h3{
    text-indent: 50px;
    font-size:x-large;
    color:rgb(176, 188, 244);
}

/* Pick Info End */
.background{
    background-color:black;
}

.pileSection{
    box-shadow: inset 10px 10px 10px rgb(103, 39, 116);
    
}

.pileSection h1{
    /* margin-top: 10px; */
    color:rgb(208, 215, 247);
    background: url('../images/pileback\ .jpg');
    padding: 7px 25px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Libre Baskerville', serif;
}
  

/* Pile Section Start */
.pileSection{
    margin-top: 0;
    color:aliceblue;
    /* margin-left: 30px; */
}
  
.Flex{
    display: flex;
    justify-content: space-around;
    background: url('../images/stars.jpg');
    margin:0;
}
  
.container{
    /* margin-top: 60px; */
    margin: 30px 0;
    width: 200px; 
    height:200px;  
}

.container img{
    border-radius: 20px;
}
  
  
.card{
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    perspective: 50px;  
}
  
  
.front,.back{
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    justify-content: center;
    display: flex;
}
  
.back{
    width: 200;
    height: 300;
    transform:rotateY(180deg);
}

.container .card:hover{
    cursor:pointer;
    transform: rotateY(180deg);
} 
  
  
.front{
    width:200;
    height:300; 
}


.pileSection .Flex .container .card img{
    width: 100px;
    height: 200px;
}

/* Back Section Start */

.backSection{
    background-color: #1c1c21;
    /* text-align: left;  */
    font-size: larger;
    /* height:70vh; */
    /* width:100%; */
    word-spacing: 10px;
    padding: 50px;
  
}

.backButton{

    position: relative;
    height: 50px;
    width:180px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #0008,
    10px 6px 15px #0008 inset,
    -5px -5px 8px #463d49 inset,
    10px 6px 15px #0004 inset,
    0 0 8px #0005;
    text-shadow: 3px 3px 5px #0008;
    letter-spacing: 3px;
    transition: all 0.3s;
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 8px;
    margin-top: 30px;
    margin-left: 20px;
    text-align: center;
}
.backButton::before{
    content: "";
    position: absolute;
    height: 5px;
    width:13px;
    background: #fff8;
    border-radius: 50%;
    left:10px;
    top:9px;
    transform: rotate(-40deg);
}
.backButton:hover{
    letter-spacing: 8px;
}
#linkToElement{
    text-decoration: none;
    color:#6348fe;
}
.backSection img{
    border-radius: 20px;
    margin:0;
    box-shadow: 20px 20px 20px black;
}
span{
    font-size: 1.3em;
    color:#b8aff3;
}
#Destiny{
    font-size: 2.3em;
     color:#6348fe;
}

.backSection #backpic{
    display:flex;
    align-items:center;
    justify-content: center;
    margin-top:25px;
}

.backSection #backpic img{
    width: 200px;
    
}

/* Back Section End */


/* --------------------------------------Start For Desktop ---------------------------------------------------------- */

@media only screen and (min-width:800px){
    /* Home Section Start */
    #container .row .check h1{
        font-size: 3em;
    }

    #container .row .check p{
        font-size: 1.5em;
        color:white;
        
        margin-top: 30px;
    }

    #container .row .text-center{
        display:flex;
        align-items:center;
        justify-content: center;
    }

    #container .row .text-center img{
        display:block;
    }
    /* Home Section End */

    /* Pickinfo Section Start */
    .pickinfo{
        padding: 70px 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    .pickinfo h3{
        color: white;
        font-family: 'Cardo', serif;
        text-align: center;
    }
    /* Pickinfo Section End */


    /* Pile Section Start */

    .pileSection h1{
        /* margin-top: 10px; */
        color:rgb(208, 215, 247);
        background: url('../images/pileback\ .jpg');
        background-size:cover;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 25px;
        border-radius: 10px;
        background-repeat: no-repeat;
        font-family: 'Libre Baskerville', serif;
    }
  
  
    h3{
        text-indent: 50px;
        font-size:x-large;
        color:rgb(176, 188, 244);
    }

    .pileSection{
        margin-top: 0px;
        color:aliceblue;
        /* margin-left: 30px; */
    }
  
    .Flex{
        display: flex;
        justify-content: space-around;
        background: url('../images/stars.jpg');
    }
  
    .container{
        /* margin-top: 60px; */
        margin: 30px 0;
        width: 200px; 
        height:300px; 
    }

    .container img{
        border-radius: 20px;
    }
  
    .card{
        height: 100%;
        width: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;
        position: relative;
        perspective: 50px;
    }
  
  
    .front,.back{
        height: 100%;
        width: 100%;
        position: absolute;
        backface-visibility: hidden;
        justify-content: center;
        display: flex;
    }
  
    .back{
        width: 200;
        height: 300;
        transform:rotateY(180deg);
    }
    .container .card:hover{
        cursor:pointer;
        transform: rotateY(180deg);
    } 
  
    .front{
        width:200;
        height:300;
    }

    .pileSection .Flex .container .card img{
        width: 200px;
        height: 300px;
    }

      /* Pile Section End */

      /* Back Section Start */

      .backButton{

        position: relative;
        height: 50px;
        width:180px;
        border-radius: 30px;
        box-shadow: 5px 5px 10px #0008,
        10px 6px 15px #0008 inset,
        -5px -5px 8px #463d49 inset,
        10px 6px 15px #0004 inset,
        0 0 8px #0005;
        text-shadow: 3px 3px 5px #0008;
        letter-spacing: 3px;
        transition: all 0.3s;
        font-size: 1.1em;
        font-weight: bold;
        padding-top: 8px;
        margin-top: 30px;
        margin-left: 300px;
        text-align: center;
    }

    .backSection #backpic{
        display:flex;
        align-items:left;
        justify-content: left;
        /* margin:auto; */
    }

    .backSection .col-lg-4 #backpic img{
        width: 400px;
    }

  
}

@media(min-height:1000px){
    #container .row .text-center img{
        width: 300px;
    }
    .backButton{
        /* display: flex;
        align-items: center;
        justify-content: center; */
        margin-left: 0;
    }
    #backpic {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        /* width : 100px; */
    }
}